<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= champions.name %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">

</head>

<body>
    <a href="/champions">Back to Champion list</a>
    <div>
        <h1>
            <%= champions.name %>
        </h1>
        <img src="<%= champions.imageUrl %>" width="50" height="50">
    </div>
    <div><a href="/champions/<%= champions._id %>/new">Create a build</a></div>

    <ul>
        <% champions.builds.forEach((build)=> { %>
            <li>
               <a href="/champions/<%= champions._id%>/<%=build._id%>"><%= build.name %></a> 
            </li>
            <% }) %>
    </ul>
</body>

</html>

<!-- show specific champ -->
<!-- show builds here -->